body {
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	background: #FFC190;
}

#board {
	display: flex;
	align-items: center;
	flex-direction: column;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#greeting {
	text-align: center;
	background: #DC916C;
	width:100%;
	color: white;
	padding-top: 50px;
	padding-bottom:50px;
}

.center-flex-row{
	display: flex;
	align-times: center;
	glex-direction: row;
	justify-content: center;
	flex-wrap:wrap;
}

#hands > * {
	margin: 25px;
}

.glow {
	text-shadow: 0px 0px 10px #FFB300;
}

.card {
	position: relative;
}

.btn {
	color: white;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	border: none;
	border-radius: 0;
	cursor: pointer;
}

.btn:hover {
	text-decoration: none;
}

.good {
	background: #44B1D0;
}

.good:hover {
	background: #5DD5F7;
}

.bad {
	background: #D04444;
}

.bad:hover {
	background: #F75D5D;
}

#menubar {
	background: #9E6D5C;
	width: 100%;
}

#main-menu > * {
	margin: 25px;
}

.hand-name-active {
	background: #78D04C;
}

.hand-name-inactive {
	background: #9E6D5C;
}

.hand-name {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 200px;
	text-align: center;
	height: 50px;
	color: white;
	font-weight: bold;
}

#user-hand > * {
	margin: 25px;
}
