body {
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	background: #FFC190;
}

@keyframes wobble {
	from {
	transform: rotate(-15deg);
	}
	to {
	transform: rotate(15deg);
	}
}

#board {
	display: flex;
	align-items: center;
	flex-direction: column;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#board > * {
	width: 100%;
}

@keyframes glow {
	from { text-shadow: 0px 0px 10px #FFB300; }
	to { text-shadow: 0px 0px 25px #FFFFFF; }
}

#greeting {
	text-align: center;
	background: #DC916C;
	width:100%;
	color: white;
	padding-top: 50px;
	padding-bottom:50px;
}

.center-flex-row {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: center;
	flex-wrap:wrap;
}

.center-flex-row > * {
	margin: 25px;
}

@keyframes moveRight {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}

.bg-right {
	background: url("/img/arrow_right.svg");
	background-attachment: fixed;
	background-position: 0px 0px;
	animation: moveRight 40s linear infinite;
}

.bg-left {
	background: url("/img/arrow_left.svg");
	background-attachment: fixed;
	background-position: 0px 0px;
	animation: moveRight 40s linear infinite reverse;
}

.glow {
	animation: glow 500ms linear infinite alternate;
}

.card-dimmed {
	opacity: 0.3;
}

.card-action {
	cursor: pointer;
}

.btn {
	color: white;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	border: none;
	border-radius: 0;
	cursor: pointer;
	outline: none;
}

.btn:hover {
	text-decoration: none;
}

.good {
	background: #44B1D0;
}

.good:hover {
	background: #5DD5F7;
}

.bad {
	background: #D04444;
}

.bad:hover {
	background: #F75D5D;
}

.worst {
	background: #BBBBBB;
}

.worst:hover {
	background: #DDDDDD;
}

#menubar {
	background: #9E6D5C;
}

.hand-name-active {
	background: #78D04C;
	color: white;
}

.hand-name-inactive {
	background: #9E6D5C;
	color: white;
}

.hand-name-edit {
	color: black;
	background: white;
}

.hand-name {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	text-align: center;
	height: 50px;
	font-weight: bold;
	width: 170px;
	margin-bottom: 25px;
}

#deck {
	background: #82A775;
}

#cards-left {
	float:right;
	position:absolute;
	color: white;
	margin-left: 15px;
}

#cards-left strong {
	font-size: 24px;
}

#new-card {
	width: 82px;
	height: 125px;
	border-style: solid;
	border-width: 1px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	border-radius: 15px;
	font-size: 20px;
	color: white;
	border-color: white;
	float: left;
	position:absolute;
	margin-left: -105px;
}

#new-card:hover {
	background: #BFE8B1;
	cursor: pointer;
}

.handhand {
	width: 50px;
	height: 50px;
	background: #44B1D0;
	color: white;
	font-size: 25px;
	float: right;
	position: absolute;
	border-radius: 25px;
	right: -25px;
	bottom: 0;
}

.user-car {
	position:relative;
}
